--color0: {color2};
--color1: {color4};
--color2: {color0};
--color3: {color3};
w-color4: {color0};
--color5: {color0};
--color6: {color6};
--color7: {color7};
--color8: {color0};
--color9: {color9};
--color10: {color10};
--color11: {color11};
--color12: {color12};
--color13: {color13};
--color14: {color14};
--color15: {color7};
